/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------------------------------------------------------------------- */
/* estilos generales del body */
body {
    background-color: #114bb6;
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    margin: 0;
    padding: .5rem 0;
}

img {
    width: 100%;
    display: block;
}

/* --------------------------------------------------------------------------- */
/* estilos de general del header */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: whitesmoke;
}

header a img {
    width: 50%;
    display: block;
}

/* --------------------------------------------------------------------------- */
/* estilo del menu */
.navbar-nav a:hover {
    color: whitesmoke;
    background-color: #114bb6;
    border-radius: 10px;
}

/* --------------------------------------------------------------------------- */
/* estilo general del main */
main h1 {
    padding-top: 1rem;
    padding-left: 1rem;
    text-align: left;
    color: whitesmoke;
}

/* --------------------------------------------------------------------------- */
/* estilo de contenido principal de index */
.texto-index {
    color: whitesmoke;
    margin: 1rem;
    text-align: justify;
}

/* --------------------------------------------------------------------------- */
/* estilo de contenedores del html nosotros */
.conte-texto-nosotros {
    color: whitesmoke;
    text-align: justify;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* --------------------------------------------------------------------------- */
/* estilo de contenedores del html servicios */
.contenedor-servicios {
    color: whitesmoke;
    text-align: justify;
    padding-right: 1rem;
    padding-left: 1rem;
    display: grid;
    grid-template-columns: 1fr;
}

.img-consultoria {
    order: -5;
    padding-bottom: 1rem;
}

.conte-consultoria {
    order: -4;
    padding-bottom: 1rem;
}

.img-seguridad {
    order: -3;
    padding-bottom: 1rem;
}

.conte-seguridad {
    order: -2;
    padding-bottom: 1rem;
}

.img-infraestructura {
    order: -1;
    padding-bottom: 1rem;
}

.conte-infraestructura {
    order: 0;
    padding-bottom: 1rem;
}

/* --------------------------------------------------------------------------- */
/* estilo de contenedores en html socios */
.texto-socios {
    text-align: justify;
    margin: 1rem;
    color: whitesmoke;
}

.contenedor-img-partners {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 2rem;
    padding-bottom: 1rem;
}

/* --------------------------------------------------------------------------- */
/* estilo del html contacto/formulario */
/* Entradas de estilo, elementos seleccionados y áreas de texto */
input[type=text],
select,
textarea {
    width: 80%;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type=email],
select,
textarea {
    width: 80%;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Aplica estilo a la etiqueta para que se muestre junto a las entradas */
label {
    display: inline-block;
}

/* Estilo al botón de enviar */
input[type=submit] {
    background-color: #164aa4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* Estilo al botón de enviar */
input[type=reset]:hover {
    background-color: #164aa4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* Estilo del contenedor */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* Columna flotante para etiquetas: 25% de ancho */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Columna flotante para entradas: 75% de ancho*/
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Estilo de encuentranos en el html contacto */
.encuentranos {
    margin: 1rem;
    color: whitesmoke;
}

.iframe-contacto {
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.iframe-contacto iframe {
    width: 100%;
    height: 400px;
}

/* --------------------------------------------------------------------------- */
/* estilos del footer */
.footer-contenedor {
    background-color: whitesmoke;
    margin-top: auto;
}

.footer-contenedor .footer-text {
    text-align: center;
    margin-left: 1rem;
}

.footer-contenedor .footer-text2 {
    text-align: center;
}

.footer-redes-sociales {
    text-align: center;
    margin-right: 1rem;
}

/* --------------------------------------------------------------------------- */
/* estilos para celulares */
/* mq de celulares */
@media screen and (min-width: 480px) {

    /* logo de la empresa */
    header a img {
        width: 80%;
    }

    /* estilo de las imagenes del html servicios */
    .contenedor-img-partners {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

    }

    /* estilo de las imagenes del html contacto */
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

    /* estilo de footer */
    .footer-contenedor {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* --------------------------------------------------------------------------- */
/* estilos para tablet */
/* mq de tablet */

@media screen and (min-width:800px) {

    /* logo de la empresa */
    header a img {
        width: 100%;
    }

    /* estilo de contenedores del html nosotros */
    .conte-texto-nosotros {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.5fr 0.5fr;
        column-gap: 1rem;
        row-gap: 1rem;
        padding-bottom: 1rem;
    }

    /* estilo de html socios */
    .contenedor-img-partners {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    /* estilos del html servicios */
    .contenedor-servicios {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 2rem;
        color: whitesmoke;
        padding-left: 1rem;
    }

    .img-consultoria {
        order: none;
        padding-bottom: 1rem;
    }

    /* estilos del html contacto */
    .iframe-contacto {
        padding-left: 3rem;
        padding-right: 3rem;
    }

}

/* --------------------------------------------------------------------------- */
/* estilos para desktop */
/* mq de desktop */
@media screen and (min-width:1024px) {

    /* estilo de contenedores del html nosotros */
    .conte-texto-nosotros {
        grid-template-columns: 2fr 1fr;
    }

    /* estilos del html servicios */
    .contenedor-servicios {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .img-consultoria {
        order: -5;
        padding-bottom: 1rem;
    }

    .conte-consultoria {
        order: -2;
        padding-bottom: 1rem;
    }

    .img-seguridad {
        order: -4;
        padding-bottom: 1rem;
    }

    .conte-seguridad {
        order: -1;
        padding-bottom: 1rem;
    }

    .img-infraestructura {
        order: -3;
        padding-bottom: 1rem;
    }

    .conte-infraestructura {
        order: 0;
        padding-bottom: 1rem;
    }

    /* estilos del html contacto */
    .iframe-contacto {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}