//import
@import "vars";

// mixin sin parametros body y con variables
@mixin flex-body {
    background-color: $bg-azul;
    font-family: $tipogra-principal;
    display: flex;
    flex-direction: column;
    min-height: $med-principal;
}

//mixin nav-scroll
@mixin nav-scroll {
    position: sticky;
    top: 0;
    z-index: 1;
}

// mixin sin parametros header-nav
@mixin header-nav {
    background-color: $bg-whitesmoke;

    a img {
        width: $med-logo-small;
        display: block;
    }

    .navbar-collapse {
        flex-grow: 0;
    }

    .navbar-nav a:hover {
        color: $bg-whitesmoke;
        background-color: $bg-azul;
        border-radius: 10px;
    }
}

// subtitulos de html nosotros
@mixin nosotros-h2 {
    background-color: $bg-azul;
    color: $bg-whitesmoke;
    display: inline-block;
    border-radius: 10px;
    padding: 0.3rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

// mixin sin parametros footer y con variables 
@mixin footer-mixin {
    background-color: $bg-whitesmoke;
    margin-top: auto;
    text-align: center;
}

// mixin sin parametros para celulares 
@mixin responsive-celular {
    @media screen and(min-width: 480px) {
        nav a img {
            width: $med-logo-medium;
        }

        /* estilo de las imagenes del html servicios */
        main {
            .contenedor-img-partners {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
            }

            .conte-texto-nosotros img {
                border-radius: 0px 0px 0px 0px;
            }
        }

        /* estilo de section del index*/
        section {
            img {
                border-radius: 0px 315px 315px 0px;
            }

            .texto-index2 {
                font-size: 1.5rem;
            }
        }

        /* estilo de footer */
        footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

// mixin sin parametros para tablet 
@mixin responsive-tablet {
    @media screen and (min-width:800px) {

        /* logo de la empresa */
        nav a img {
            width: $med-logo-big
        }

        /* main tablet nesting */
        main {

            // html nosotros//
            .conte-texto-nosotros {
                height: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 0.5fr;
                gap: 1rem;
                padding-bottom: 1rem;
                margin-bottom: 1rem;

                .texto-vision {
                    padding: 1rem;
                    margin-top: 1rem;
                    margin-bottom: initial;
                }
            }

            // html servicios//
            .contenedor-servicios {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr 1fr;
                column-gap: 1rem;
                row-gap: 2rem;
                padding-left: 1rem;
            }

            .img-consultoria {
                order: none;
                padding-bottom: 1rem;
            }

            // html socios //
            .contenedor-img-partners {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }

            // html contacto //
            .iframe-contacto {
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }

        section {
            display: flex;

            img {
                width: auto;
            }

            .texto-index2 {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

// mixin sin parametros para desktop
@mixin responsive-desktop {
    @media screen and (min-width:1024px) {

        /* main destokp nesting */
        main {

            // html de nosotros //
            .conte-texto-nosotros {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 0.5fr;

                .img-nosotros {
                    width: auto;
                    height: auto;
                    justify-self: center;
                }

                .texto-mision {
                    height: inherit;
                    margin-left: 1rem;
                }

                .texto-vision {
                    height: inherit;
                    margin-right: 1rem;
                }

            }

            // html de servicios //
            .contenedor-servicios {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto;

                .img-consultoria {
                    order: -5;
                    padding-bottom: 1rem;
                }

                .conte-consultoria {
                    order: -2;
                    padding-bottom: 1rem;
                }

                .img-seguridad {
                    order: -4;
                    padding-bottom: 1rem;
                }

                .conte-seguridad {
                    order: -1;
                    padding-bottom: 1rem;
                }

                .img-infraestructura {
                    order: -3;
                    padding-bottom: 1rem;
                }

                .conte-infraestructura {
                    order: 0;
                    padding-bottom: 1rem;
                }
            }

            // html de socios //
            .contenedor-img-partners {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                padding-bottom: 0;
            }

            // html de contactos //
            .iframe-contacto {
                padding-left: 5rem;
                padding-right: 5rem;
            }
        }

        section {
            .texto-index2 {
                white-space: nowrap;
                overflow: hidden;
                font-size: 2rem;

            }
        }
    }

}