//tipografia general
$tipogra-principal: 'Space Grotesk', sans-serif;

//paletas de colores//
$bg-azul: #114bb6; //color de fondo
$bg-whitesmoke: whitesmoke; //color letras
$bg-negro: black; //color de letras en fondo blancos

// medidas
$med-principal: 100vh; //medida para el viewport ppal
$ancho-img: 100%; //medida para las imagenes y/o caja

// tamaño de logo principal
$med-logo-small: 60%;
$med-logo-medium: 75%;
$med-logo-big: 100%;